<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h1>Todo App</h1>
    <input type="text" v-model="inputText"/>
    <button v-on:click="addItem">추가</button>

    <ul>
        <li v-for="(item, index) in todoItems">
            {{ item }}
            <button v-on:click="removeItem(item, index)">삭제</button>
        </li>
    </ul>

    
</div>

<script>
new Vue({
    el: '#app',
    data: {
        inputText:'',
        todoItems: []
    },
    methods: {
        addItem: function() {
            var 값 = this.inputText;
            console.log(this.inputText)
            localStorage.setItem(값 , 값);
            this.inputText = '';
            this.todoItems.push(값);
            console.log(this.todoItems);
            
        },
        removeItem: function(item, index) {
            localStorage.removeItem(item);
            this.todoItems.splice(index, 1)
        }
    }
});
</script>
</body>
</html>